
@media(max-width: 1570px) {
    div.photos-container .photos {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    div.videos-container .videos {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media(max-width: 1024px) {
    :root {
        font-size: 58%;
    }

    .home {
        padding: 8rem 6rem;
    }

    nav ul {
        margin-left: 10rem;
    }

    .timeline div.line {
        width: 14rem;
    }

    .modal .image div.arrow-modal {
        width: 730px
    }

    .modal div.img-container {
        max-width: 620px;
        max-height: 620px;
    }

}

@media(max-width: 900px) {
    :root {
        font-size: 56%;
    }

    .home {
        text-align: center;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;

        position: absolute;
        right: 8.5rem;
        top: 5.5rem;

        cursor: pointer;
        transition: all 0.5s ease-out;
        z-index: 15;
    }

    .btn-line {
        width: 28px;
        height: 2px;
        margin-bottom: 4px;

        background-color: white;
        transition: all 0.5s ease-out;
    }

    .menu.close {
        transform: rotate(180deg);
        z-index: 15;
    }

    .menu.close .btn-line:nth-child(1) {
        transform: translate(0px, 4px) rotate(45deg);
    }

    .menu.close .btn-line:nth-child(2) {
        opacity: 0;
    }

    .menu.close .btn-line:nth-child(3) {
        transform: translate(0px, -8px) rotate(-45deg);
    }

    .menu-items {
        display: none;
        visibility: hidden;
    }

    .menu-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 12rem;

        width: 40%;
        height: 100%;

        background-color: rgba(17, 17, 17, 0.8);

        position: fixed;
        right: 0px;
        top: 0px;

        transition: all 0.5s ease-out;
        transform: translate3d(100%, 0, 0);
    }

    .menu-items .button {
        position: unset;
    }

    .menu-items.show{
        visibility: visible;
        transform: translate3d(0, 0, 0);

        z-index: 14;
    }

    body#work.overflow {
        overflow: hidden;
    }

    nav .menu-items li a {
        padding: 0.8rem;
    }

    nav .menu-items li a.button {
        padding: 1.3rem 1.6rem;
        z-index: 15;
    }

    main.about {
        padding-top: 3rem;
    }

    section.description h1 {
        font-size: 6rem;
    }

    nav ul {
        margin-left: 7rem;
    }

    .timeline div.line {
        width: 12rem;
    }

    .point div.text p {
        width: 12rem;
        padding: 1rem;
    }

    .point div.image.active img {
        width: 14rem;
        height: 14rem;
    }

    .modal .image div.arrow-modal {
        width: 700px
    }

    .modal div.img-container {
        max-width: 590px;
        max-height: 590px;
    }

}

@media(max-width: 756px) {
    :root {
        font-size: 55%;
    }

    .home h1,
    section.description h1 {
        line-height: 1.3;
    }

    .home p {
        margin: 4rem 0;
    }

    section.description img {
        width: 18rem;
        height: 18rem;
    }

    section.description p {
        width: unset;
        line-height: 1.5;
    }

    section.timeline {
        margin-top: 23.4rem;
    }
    
    .point div.text p {
        width: 11rem;
        padding: 1rem;
    }

    .point div.image.active img {
        width: 13rem;
        height: 13rem;
    }

    .timeline div.line {
        width: 11rem;
    }

    div.testimony h3 {
        margin-bottom: 2rem;
    }

    .modal .image div.arrow-modal {
        width: 630px
    }

    .modal div.img-container {
        max-width: 530px;
        max-height: 530px;
    }

    main.local h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        font-size: 7rem;
        text-align: center;
        line-height: 1.3;
    }

    main.local h3 {
        font-size: 2rem;
        line-height: 1.4;
    }

    .local .maps iframe {
        width: 540px; 
        height: 350px;
    }
}

@media(max-width: 630px) {
    .home {
        padding: 6rem 6rem;
    }

    .home p {
        margin: 2rem 0;
    }

    .timeline div.line {
        width: 9rem;
    }

    .point div.text p {
        width: 10rem;
        padding: 1rem;
        line-height: 1.3;
    }

    .point div.image.active img {
        width: 11rem;
        height: 11rem;
    }

    div.point .text h4 {
        line-height: 1.4;
    }

    body#work {
        padding: 2rem 4rem;
    }

    div.photos-container img {
        max-width: 130px;
        height: 180px;
    }

    div.photos-container .photos {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }

    .modal .image div.arrow-modal {
        width: 560px
    }

    .modal div.img-container {
        max-width: 480px;
        max-height: 480px;
    }

    main.local address {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
        margin: unset;
        margin-top: 4rem;
    }

    .local .maps iframe {
        width: 520px; 
        height: 350px;
    }

}    

@media(max-width: 560px) {
    body {
        padding: 3rem 6rem;
    }

    .home {
        padding: 6rem 0;
    }
    
    .home p { 
        margin: 0;
    }

    .menu {
        right: 8rem;
    }

    section.description div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section.description div h1 {
        margin-top: 2rem;
    }

    section.description h2 {
        margin-top: 2rem;
    }

    section.timeline {
        flex-direction: column;
        margin: 6rem 0rem;
    }

    section.timeline .point {
        flex-direction: column;
    }

    section.timeline .point.invert {
        align-items: end;
    }

    section.timeline .line {
        width: 2px;
        height: 5rem;
    }

    .point div.text p {
        width: 28rem;
    }

    .point div.image.active img {
        width: 13rem;
        height: 13rem;

        margin-bottom: 3rem;
    }

    .timeline .point div.text {
        transform: translate3d(0, 0, 0);
        transition: all 0.4s ease-in-out;
    }

    .timeline .point.invert div.text {
        transform: translate3d(0, 0, 0);
        transition: all 0.4s ease-in-out;
    }

    .timeline .point.invert div.image {
        transform: translate3d(4%, 0, 0);
        transition: all 0.4s ease-in-out;
    }

    .timeline .point:hover div.text.active {
        transform: translate3d(-7%, 0, 0);
    }

    .timeline .point.invert:hover div.text.active {
        transform: translate3d(7%, 0, 0);
    }

    .timeline .point.invert:hover div.image.active {
        transform: translate3d(20%, 0, 0);
    }

    body#work .menu {
        right: 4.3rem;
    }

    body#work::after{
        width: 150vw;
        height: 150vh;
    }

    div.title-container h1 {
        line-height: unset;
    }

    div.photos-container img {
        max-width: 120px;
        height: 160px;
    }

    div.photos-container .photos {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }

    .modal .image div.arrow-modal {
        width: 460px
    }

    .modal div.img-container {
        max-width: 380px;
        max-height: 380px;
    }

    .local .maps iframe {
        width: 490px; 
        height: 350px;
    }
} 

@media(max-width:510px) {
    body#about {
        padding: 3rem 6rem;
    }

    section.timeline .line {
        height: 4.6rem;
    }

    .point div.text p {
        width: 24rem;
    }

    div.testimony .quotes{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2rem;
    }

    div.video {
        height: 18rem;
    }

    div.video video {
        min-width: 28rem;
    }

    div.videos-container .videos {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .modal .image div.arrow-modal {
        width: 400px
    }

    .modal div.img-container {
        max-width: 300px;
        max-height: 300px;
    }

    footer .testimony {
        margin-bottom: 5rem;
    }

    main.local h1 {
        font-size: 6rem;
        line-height: 1.3;
    }

    .local .maps iframe {
        width: 340px; 
        height: 270px;
    }
    
}

@media(max-width: 425px) {
    .menu-items {
        width: 50%;
    }

    .menu-items {
        width: 100%;
        background-color: rgba(17, 17, 17, 0.9);
    }

    section.description img {
        width: 16rem;
        height: 16rem;
    }

    section.description h1 {
        font-size: 5rem;
    }

    section.description h2 {
        margin: 1.6rem;
    }

    .point div.text p {
        width: 22rem;
    }

    .point div.image.active img {
        width: 12rem;
        height: 12rem;
    }

    div.photos-container img {
        max-width: 100px;
        height: 140px;
    }

    div.photos-container .photos {
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    }

    div.videos-container .videos {
        row-gap: 2rem;
    }

    div.video {
        height: 16rem;
    }

    div.video video {
        min-width: 26rem;
    }

    div.videos-container .videos {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }

    .modal .image div.arrow-modal {
        width: 350px
    }

    .modal .image div.arrow-modal {
        font-size: 3rem;
    }

}

@media(max-width: 410px) {
    :root {
        font-size: 54%;
    }

    body {
        padding: 3rem 4rem;
    }

    body#about {
        padding: 3rem 5rem;
    }

    .home h1 {
        font-size: 9.5rem;
    }

    .home p { 
        font-size: 3rem;
    }

    .social-media {
        margin-top: 2.5rem;
    }

    section.description img {
        width: 15rem;
        height: 15rem;

        margin-right: 8px;
    }

    .point div.text p {
        width: 21rem;
    }

    div.video {
        height: 14rem;
    }

    div.video video {
        width: 24rem;
    }

    .gallery div.videos-container .videos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main.local h3 {
        font-size: 1.8rem;
        line-height: 1.2;

        text-align: center;
    }

    .local .maps iframe {
        width: 340px; 
        height: 290px;
    }
}

@media(max-width: 375px) {
    .point div.text p {
        width: 20rem;
    }

    div.photos-container img {
        max-width: 80px;
        height: 120px;
    }

    div.photos-container .photos {
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    }

    div.title-container h1 {
        font-size: 7rem;
    }

    .modal .image div.arrow-modal {
        width: 300px
    }

    .modal div.img-container {
        max-width: 250px;
        max-height: 250px;
    }

    .local .maps iframe {
        width: 300px; 
        height: 240px;
    }
}

@media(max-width: 336px) {
    .point div.text p {
        width: 17rem;
    }

    div.title-container h1 {
        font-size: 6rem;
    }

    div.photos-container img {
        max-width: 70px;
        height: 110px;
    }

    div.photos-container .photos {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }

    main.local address {
        margin-top: 3rem;
    }

    .local .maps iframe {
        width: 260px; 
        height: 220px;
    }
}